@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


/*#vistec_sg_input_container {
	background-color: #e2e2e2;
	border: 1px solid #e2e2f0;
}*/

#vistec_sg_input_container tr {
	border: 2px solid #B50938;
	width: 50%;
}

#vistec_sg_jobnotes {
	margin-top: 10px;
	margin-bottom: 30px;
	background-color: #FFD100;
	display: block;
	font-family: 'trebuchet MS','Nimbus Sans','Helvetica','Arial',sans-serif;
	font-size: 0.9em;
}

#vistec_sg_jobscript {
	background-color: #D4ECFF;
	margin-bottom: 30px;
}

#vistec_sg_jobscript2 {
	background-color: #E6E6F6;
	margin-bottom: 30px;
}


#vistec_sg_input_container td,th {
	background-color: #F8E1EA;
	padding: 2px;
	width: 50%;
}

#vistec_sg_input_container {
	border:0px solid #B50938;
	margin:0 0 2em;
	font-family: 'Source Sans Pro','trebuchet MS','Nimbus Sans','Helvetica','Arial',sans-serif;
	font-size: 1em;
}

#vistec_sg_input_container th {
	border: 1px solid #B50938;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.33) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.33) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,.33) inset;
	background-image: -webkit-linear-gradient(top, #aaa 0%,#888 100%);
	background-image: -moz-linear-gradient(top, #aaa 0%, #888 100%);
	background-image: -ms-linear-gradient(top, #aaa 0%,#888 100%);
	background-image: -o-linear-gradient(top, #aaa 0%,#888 100%);
	background-image: linear-gradient(top, #aaa 0%,#888 100%);
	background: #B50938;
	font-family: 'Source Sans Pro','Linux Libertine','Times New Roman',serif;
    font-size: 1.4em;
    color: #ffffff;
	font-weight: 700;
}

#vistec_sg_input_container td {
	width: 70%;
	border: 1px solid #F8E1EA;
}
#vistec_sg_input_container th+td {
	width: 100%;
	background:#fff;
}
#vistec_sg_input_container input {
	display:inline-block;
}


#vistec_sg_input_partitions span {
	display:inline-block;
}

/* Nodes avail, etc. boxes */
#vistec_sg_input_partitions span > span > span {
	display:block;
	border: 0px;
	/*background-color: #e0e;*/
}

.vistec_sg_input_partition_container {
	display: inline;
	padding: 0px;
	width: 80%;
}

.vistec_sg_input_partition_name {
	display: inline;
	font-family: 'Source Sans Pro','trebuchet MS','Nimbus Sans','Helvetica','Arial',sans-serif;
	font-size: 1em;
}

#vistec_sg_script_header {
    font-family: 'Source Sans Pro','Linux Libertine','Times New Roman',serif;
    font-size: 1.3em;
    color: #004E81;
}

#vistec_sg_script_header2 {
    font-family: 'Source Sans Pro','Linux Libertine','Times New Roman',serif;
    font-size: 1.3em;
    color: #582E91;
}
